footer {
	width: 100%;
	height: 6rem;
	bottom: 0;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: inherit;
}

.footer-content {
	width: 70%;
	display: flex;
	justify-content: space-between;
}

.footer-content p {
	color: #000000;
	font-size: 1.3rem;
}
.social-list ul {
	list-style: none;
	display: flex;
}

.social-list a {
	margin: 0 2rem;
	color: #000000;
}

.social-list i {
	height: 2.5rem;
	width: 2.5rem;
	font-size: 2rem;
	transition: color 1s;
}

.social-list i:hover {
	color: #44b4ff;
}

#link-topo {
	position: fixed;
	right: 4rem;
	bottom: 4rem;
	width: 4rem;
	height: 4rem;
	background: #ffffff;
	background: -webkit-linear-gradient(to right, #ffffff, #ffffff);
	background: linear-gradient(to left, #00e1ff, #00ff9d);
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 0, 0);
	border-radius: 0.3rem;
	box-shadow: 0 0.1rem 0.6rem #ffffff09;
}
@media (max-width: 900px) {
	footer {
		height: 7rem;
	}

	.footer-content {
		width: 90%;
	}
	.footer-content p {
		font-size: 1rem;
	}
	.social-list i {
		font-size: 2rem;
	}
	.footer-content p {
		font-size: 1.4rem;
	}

	#link-topo {
		right: 3rem;
		bottom: 3rem;
		width: 3rem;
		height: 3rem;
	}
}
