header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: background-color 0.5s ease;
	z-index: 1000;
}

/* navegation */
.nav {
	width: 100%;
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid rgba(255, 255, 255, 0.05);
	transition: height 0.5s ease;
}

.nav a {
	text-decoration: none;
	color: #fff;
	font-size: 1.6rem;
}

.nav .logo {
	box-shadow: 4px 1px 0px 1px rgba(255, 255, 255, 0.14);
	border-radius: 72px;
	background-color: #ffffff13;
}

.nav-list {
	list-style: none;
	display: flex;
	margin-right: auto;
	margin-left: 4rem;
}

.nav-link {
	font-family: var(--primary);
	font-size: 1.3rem;
	margin: 0 2rem;
	position: relative;
}

.nav-link::after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: -3px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.5s ease;
}

.nav-link:hover::after {
	transform: scaleX(1);
}

#nav-btn {
	font-family: var(--action);
	display: inline-block;
	background-color: #fff;
	color: #313131;
	padding: 1rem 2rem;
	border-radius: 2rem;
}

#nav-btn:hover {
	background: rgb(14, 255, 217);
	background: linear-gradient(
		153deg,
		rgba(14, 255, 217, 1) 52%,
		rgba(9, 213, 255, 1) 85%
	);
}

/* effect when rolling the mouse*/
.scrolling-active {
	background-color: #fff;
	box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active .nav {
	height: 6.6rem;
}

.scrolling-active .nav a {
	color: #313131;
}

.scrolling-active #nav-btn {
	background: rgb(14, 255, 217);
	background: linear-gradient(
		153deg,
		rgba(14, 255, 217, 1) 52%,
		rgba(9, 213, 255, 1) 85%
	);
	color: rgb(12, 12, 12);
}

.scrolling-active #nav-btn:hover {
	background-color: #151515;
}

.scrolling-active .nav-link::after {
	background-color: #313131;
}

/* smartphone */
@media (max-width: 900px) {
	/* navegation */
	.nav {
		display: none;
	}
	/* Smartphone */
	.mobilebar {
		width: 50%;
		height: 100%;
		background-color: #fff;
		position: fixed;
		top: 0;
		right: -50rem;
		transition: all 1s;
		z-index: 80;
	}
	/* Show-menu */
	.show-menu .mobilebar {
		right: 0;
	}
	.menu {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.menu-item {
		list-style: none;
		padding: 0.7rem;
		text-align: center;
		margin-bottom: 0.5rem;
	}
	.menu-link {
		text-decoration: none;
		font-family: var(--action);
		font-size: 280%;
		color: rgb(0, 0, 0);
		transition: color 1s;
	}
	.menu-link:hover {
		color: #0df5f1;
	}
	.social-media {
		position: absolute;
		bottom: 2.5rem;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

	.social-media i {
		color: black;
		height: 2.5rem;
		width: 2.5rem;
		font-size: 2.5rem;
		transition: color 1s;
	}

	.social-media i:hover {
		color: #15ffc1;
	}

	/* hamburguer */
	.hamburguer {
		width: 2rem;
		height: 2rem;
		position: fixed;
		z-index: 100;
		right: 2rem;
		top: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		cursor: pointer;
		transition: 1s;
	}
	/* Show Hamburguer */
	.show-menu .hamburguer {
		right: 42%;
		transition: 2s;
	}

	.line {
		width: 100%;
		height: 0.2rem;
		background-color: rgb(255, 255, 255);
		box-shadow: 0.1rem 0.1rem 1px rgb(0, 0, 0);
		transition: transform 1s;
	}

	.show-menu #line1 {
		transform: rotate(45deg) translate(0.3rem, 0.3rem);
	}
	.show-menu #line2 {
		opacity: 0;
		visibility: hidden;
	}
	.show-menu #line3 {
		transform: rotate(-45deg) translate(0.3rem, -0.49rem);
	}

	.hamburguer span {
		position: absolute;
		left: 3rem;
		height: 2rem;
		width: 6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #44fff6;
		color: #000000;
		font-family: var(--action);
		opacity: 0;
	}

	.hamburguer span::before {
		content: "";
		position: absolute;
		border-right: 0.7rem solid #44ffe0;
		border-top: 0.5rem solid transparent;
		border-left: 0.3rem solid transparent;
		border-bottom: 0.5rem solid transparent;
		left: -1rem;
	}

	.show-menu .hamburguer:hover span {
		opacity: 1;
	}
}
/* desktop */
@media (min-width: 900px) {
	.mobilebar {
		display: none;
	}
	.hamburguer {
		display: none;
	}
}
