.sessao-planos {
	width: 100%;
	height: 100%;
	background-color: var(--fundo);
	text-align: center;
	padding-bottom: 10%;
}

.cardP {
	background: white;
	background-size: cover;
	border-radius: 8px;
	display: inline-block;
	height: 500px;
	margin: 7rem;
	margin-top: 8rem;
	position: relative;
	width: 30%;
	overflow: hidden;
}

.cardP:hover {
	box-shadow: 0 14px 28px var(--prc), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* title */
.cardP0 h3 {
	font-size: 5rem;
	font-family: var(--primary);
	font-weight: 600;
}

.cardP0 h4 {
	font-size: 3rem;
	font-family: var(--secundary);
	font-weight: 600;
}

.cardP0 h3,
h4 {
	background-color: var(--prc);
}

.cardP1 h3 {
	font-size: 5rem;
	font-family: var(--primary);
	font-weight: 600;
}

.cardP1 h4 {
	font-size: 3rem;
	font-family: var(--secundary);
	font-weight: 600;
}

.cardP1 h3,
h4 {
	background-color: var(--prc);
}

/* conteudo */
.cardP p {
	font-size: 2.5rem;
	font-family: var(--secundary);
	font-weight: 700;
	margin: 1rem;
	align-items: center;
}
.cardP li {
	font-size: 1.7rem;
	font-family: var(--secundary);
	font-weight: 700;
}

@media (max-width: 707px) {
	.cardP {
		display: inline-block;
		height: 550px;
		margin: 2rem;
		width: 80%;
	}
}
